@import url(header.css);
@import url(header1.css);
@import url(header2.css);
@import url(cards.css);
@import url(school-eduction.css);
@import url(counter.css);
@import url(gallery-section.css);
@import url(tab-section.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root */

:root {
  --main-bg-color: #fffffff;
  --main-item-color: #fa9db7;
  --main-link-color: #ffc85b;
}
