* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root */

:root {
  --main-bg-color: #fffffff;
  --main-item-color: #fa9db7;
  --main-link-color: #ffc85b;
}

.header-section-menu {
  position: sticky;
  top: 0;
  background: var(--main-bg-color);
  transition: none;
  min-height: 77px;
  padding: 0.5rem 0;
}

.header-section-menu .container {
  max-width: 1200px;
}

.header-section-menu .navbar-logo {
  margin-right: 0.8rem;
}

.header-section-menu .navbar-logo img {
  height: 5rem;
}

.logo-name {
  margin-top: 2rem;
}

.mbr-section-title {
  font-weight: 900;
  font-style: normal;
  line-height: 1.1;
  color: #12265a;
  margin-bottom: 0rem;
  font-family: "Muli", sans-serif;
  font-size: 1rem;
}

.mbr-section-subtitle {
  color: var(--main-item-color);
  font-family: "Nunito", sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

.main-nav .nav-item a {
  padding: 0 0.5rem;
  margin: 0rem 1.2rem !important;
  -webkit-align-items: center;
  color: #12265a;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  transition: 0.4s;
  line-height: 2;
  letter-spacing: 0;
  font-size: 20px;
}

.main-nav .nav-item > a.dropdown::after {
  content: "+";
  margin-left: 0.25rem;
}

.main-nav .nav-item > .dropdown {
  position: relative;
}

.dropdown-ul {
  display: none;
  position: absolute;
  top: 100%;
  background-color: var(--main-bg-color);
  padding-top: 4.5rem;
  padding-bottom: 2rem;
  text-align: left;
  border-radius: 20px;
  min-width: 250px;
}

.dropdown-ul-second {
  min-width: 600px;
}

.dropdown-ul::after {
  content: "";
  position: absolute;
  top: 4rem;
  bottom: 1.4rem;
  left: 10px;
  right: 10px;
  border: 4px dashed var(--main-item-color);
  border-radius: 10px;
  z-index: 0;
  pointer-events: none;
}

.main-nav .dropdown:hover .dropdown-ul {
  display: block;
}

.main-nav .dropdown-ul .nav-link:hover {
  color: var(--main-link-color);
}

.main-nav > .nav-item > a.active {
  background: var(--main-link-color) !important;
  border-radius: 5px;
}

.main-nav > .nav-item > a:hover {
  color: #12265a !important;
  background: var(--main-link-color);
  border-radius: 5px;
}

.mbr-section-btn a {
  cursor: pointer;
  display: -webkit-inline-flex;
  -webkit-align-items: center;
  position: relative;
  border: 1px solid #7a7b7e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
}

.btn-warning {
  background-color: var(--main-item-color) !important;
  border-color: var(--main-item-color) !important;
  color: #fff !important;
}

.display-4 {
  font-family: "Muli", sans-serif;
  font-size: 1rem;
}

.mbr-section-btn .btn2::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 52px;
  height: 52px;
  border: 2px dashed var(--main-item-color);
  border-radius: 30px;
  animation: spin_left 5s linear infinite;
  animation-play-state: paused;
}

@keyframes spin_left {
  0% {
    transform: rotate(360deg);
  }
}

.mbr-section-btn .btn2:hover::before {
  animation-play-state: running;
}
